
.blog-post{
    max-width: 728px;
    margin-right: 92px;
}


.articleBody{
    max-width: 728px;
}

.blog-post-nav ul{
  display:flex; /*横並び*/
  list-style: none; /*元のcss解除*/
  margin: initial;
  padding: initial;

}

.title ul{
  display:flex; /*横並び*/
  margin: initial;
  padding: initial;
  flex-wrap: nowrap;
  list-style: none;
}



@media screen and (max-width: 1024px) {
	/* 1024px以下に適用されるCSS（タブレット用） */

  .blog-post{
    width: 90vw;
    margin:initial;
  }


  
}