
/* blog top */

.breadcrumbs{
    display:flex;
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
    height: 56px;
    font-size: 14px;
}
  

.breadcrumbs ul{
  padding: initial;
  margin:initial;
  display:flex; /*横並び*/
  flex-wrap: nowrap;
  list-style:none;
}

.breadcrumbs li{
  list-style:none;
  color: #CACACA;
  margin-top: 18px;
  margin-bottom: 18px;
}


.breadcrumbs a{
  color: #CACACA;
}
