
.header-sitename{
    margin:initial; /*css適用解除*/
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
    font-size: 36px;
}

.header-menu {
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
    height: 64px;
}

.header-menu ul{
    padding: initial;
    margin:initial;
    display:flex; /*横並び*/
    flex-wrap: nowrap;
    list-style:none;
}
.header-menu li{
    width:100%;
    text-align: center;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 1024px) {
	/* 1024px以下に適用されるCSS（タブレット用） */


.header-menu {
    width: 90vw;
}



}