.sidebar{
    width: 300px;
}

.sidebar h3{
    margin:initial; /*css適用解除*/
    margin-bottom:32px;
    background: none;
    font-size: 16px;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0;
    text-align: center;
}
.sidebar h3::before, .sidebar h3::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 28%; /*ラインの長さ*/
    border-top: 3px solid #444d53; /*ラインの色*/
}
.sidebar h3::before {
    left: 0;
}
.sidebar h3::after {
    right: 0;
}

.image-name{
    display:flex; /*横並び*/
    margin-bottom:16px;
}

.sidebar p{
    margin:initial; /*css適用解除*/
}

.profile{
    margin-bottom:48px;
}



@media screen and (max-width: 1024px) {
	/* 1024px以下に適用されるCSS（タブレット用） */
  .sidebar{
    width: 90vw;
    margin-top: 50px;
  }

}