html,
body{
  font-family: "Noto Sans JP","sans-serif";
}


h1 {
  font-size:32px;
}

h2 {
  font-size:24px;
}

h3 {
  font-size:20px;
}

h4 {
  font-size:16px;
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height :24px;
}

li {
  line-height :24px;
}


/* Link */

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */


.header-link-home {
  text-decoration: none;
}

.bio {
  display: flex;
}


.bio-avatar {
  min-width: 50px;
  border-radius: 100%;
}



/* index top */

.top-contents{
  display:flex;
  width: 1120px;
  margin-right: auto;
  margin-left: auto;
}


.top-contents ul{
  list-style: none;
}




/* blog top */

.blog-contents{
  display:flex;
  width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.new-blog-post{
  width: 728px;
  padding-right: 92px; 
}

.new-blog-post ol{
  list-style: none;
  margin: initial;
  padding: initial;
}

.new-blog-post h2{
  font-size: 32px;
  padding: initial;
  margin: 0.67em 0px;
}

.post-list-item ul{
  display:flex; /*横並び*/
  margin: initial;
  padding: initial;
  flex-wrap: nowrap;
  list-style: none;
}



/* Media queries */

@media screen and (max-width: 1024px) {
	/* 1024px以下に適用されるCSS（タブレット用） */

  .top-contents{
    width: 90vw;
    margin:initial;
  }

  .blog-contents{
    flex-direction: column; /*縦並びに戻す*/
    width: 90vw;
  }

  .new-blog-post{
    display: block;
    padding: initial;
  }

  .post-list-item{
    width: 90vw;

}

}
